@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BlitzPrompts Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("@fontsource-variable/inter/files/inter-latin-wght-normal.woff2") format("woff2-variations");
}

:root {
  font-family: "BlitzPrompts Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 284px;
  min-height: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}
